{% comment %}orders_list card include{% endcomment %}
{% load my_extras %}
<div class="col-12 col-md-6 col-lg-4 mb-4">
    <div class="card h-100">
        <h5 class="card-title text-center p-2">Заявка № {{order.id}}</h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item"><i class="bi bi-person me-1"></i>{{order.client_name}}</li>
            <li class="list-group-item"><i class="bi bi-telephone me-1"></i>{{order.phone}}</li>
            <li class="list-group-item"><i class="bi bi-chat me-1"></i>{{order.comment}}</li>
            <li class="list-group-item text-end">{{order.date_created|date:"d-m-Y H:i"}}</li>
            {% if order.status == "not_approved" %}
            <li class="list-group-item text-warning text-end">{{order.get_status_display}}</li>
            {% elif order.status == "approved" %}
            <li class="list-group-item text-primary text-end">{{order.get_status_display}}</li>
            {% elif order.status == "cancelled" %}
            <li class="list-group-item text-danger text-end">{{order.get_status_display}}</li>
            {% elif order.status == "completed" %}
            <li class="list-group-item text-success text-end">{{order.get_status_display}}</li>
            {% endif %}
        </ul>
        <div class="card-footer mt-auto">
            <a href="{% url 'order_detail' order.id %}" class="btn btn-dark">Подробнее</a>
        </div>
    </div>
</div>
